/*********************** CSS RESET ***********************/
* {
    box-sizing: border-box; /* So HTML will behave */

    margin: 0;
    padding: 0;
}

/*********************** GENERIC ELEMENTS ***********************/
body {
    background-color: #fafafa;

    font-family: Montserrat, Arial, sans-serif;

    line-height: 1.6;

    min-height: 200vh;
}

hr {
    border: none;

    /* Values: Size Width Color */
    border-top: 1px solid #ccc;

    /* !important makes it difficult to change
        specific css commands later */
    margin-top: 50px !important;
    margin-bottom: 50px !important;
}

/*********************** INTRO SCREEN ***********************/
.intro {
    background-image: url(images/leaves.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    width: 100vw; /* vw - Viewport Width */
    width: auto; /* 100vw is causing a small issue */

    height: 100vh; /* vh - Viewport Height */

    display: flex;
    
    position: relative;
    z-index: 1010;
}

.intro-narrow {
    height: 75vh;
    z-index: 900;
}

.intro-container {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    /* properties: X Y Radius Color */

    width: 25%;

    align-self: center;
    text-align: center;

    padding: 20px;
    margin: auto;
}

.intro h1 {
    font-weight: normal;
    text-transform: uppercase;

    letter-spacing: 2px;
    margin-bottom: 20px;
}

.intro p {
    line-height: 2;
}

/*********************** CARDS ***********************/
.card {
    display: block; /* Turns the link into a box */

    color: #000;
    text-decoration: none;
}

.card-image {
    height: 500px;
    overflow: hidden; /* Hides the excess content */
}

.card img {
    display: block;

    width: 100%;
    height: 100%;
    object-fit: cover;

    transition-property: transform;
    /* only transform will animate */
    transition-duration: 1s;
    transition-timing-function: ease-out;
}

.card h2 {
    margin-top: 20px;
    margin-bottom: 50px;

    font-size: 1.2em; /* 1.2x default font size */
}

/*
    Change the image when we hover over the link
*/
.card:hover img {
    transform: scale(1.2);

    transition-duration: 10s;
    transition-timing-function: linear;
}

/*********************** CONTAINER ***********************/
.container {
    max-width: 1280px;

    margin: auto;
}

/*********************** GRID LAYOUT ***********************/
.row {
    display: flex;
    flex-wrap: wrap;

    gap: 50px;
}

.one-column .card {
    width: 100%;
}

.two-columns .card {
    width: calc((100% - 50px) / 2);
}

.three-columns .card {
    width: calc((100% - 100px) / 3);
}

.four-columns .card {
    width: calc((100% - 150px) / 4);
}


/*********************** MAIN CONTENT ***********************/
.main-content {
    margin-top: 100px;
}

.content-narrow {
    width: 50%;
    min-width: 640px;

    /* REMINDER: Centers
    things horizontally */
    margin: auto;
}

.vertical-title {
    font-size: 0.9em;
    text-transform: uppercase;
    letter-spacing: 2px;

    transform-origin: 0 0; /* rotate from the top left */
    transform: rotate(90deg) translateY(5px);

    position: absolute;
}

/*********************** FOOTER ***********************/
.website-footer {
    background-color: #eee;
    padding: 50px;
}

.website-footer .container {
    display: flex;
    flex-wrap: wrap;
}

.website-footer .summary {
    width: 33%;
}

.footer-links {
    list-style: none;

    margin-left: auto;

    columns: 2;
    gap: 50px;
}

.footer-item {
    margin-bottom: 10px;
}

.footer-link {
    color: #000;
    text-decoration: none;
}

.website-footer .copyright {
    width: 100%;

    margin-top: 50px;

    text-align: right;
}

/*********************** NAVIGATION ***********************/
.navbar {
    background-color: #fff;

    border-color: #eee;
    border-style: solid;
    /* cancels out all borders */
    border-width: 0;
    border-bottom-width: 1px;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    z-index: 1000;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
}

.navbar a {
    color: #000;
    text-decoration: none;
    display: block;
}

.navbar-brand {
    font-family: Cardo, Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    
    /* scales the font by 150% of the
        original size */
    font-size: 1.5em;

    align-content: center;
}

.navbar-nav {
    list-style: none;
    display: flex;
}

.navbar-nav .nav-item {
    margin-left: 10px;
}

.navbar-nav .nav-link {
    /* this means top/bottom left/right */
    padding: 30px 20px;
}

/*********************** STORY ***********************/
.story-header h1 {
    font-size: 2em;
    margin-bottom: 25px;
}

.story-header p {
    font-size: 1.5em;
    font-family: Cardo, Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    line-height: 1.2;
}

.story-header .byline {
    margin-top: 10px;
}

/* Targets EVERYTHING inside
    class="byline" */
.story-header .byline * {
    display: inline;
    font-style: normal;
}

/* A comma helps apply the same CSS
    to different elements */
.story-content p, .story-content .row {
    margin-bottom: 50px;
}

.story-footer {
    background-color: #f0f0f0;

    margin: 50px auto;
    padding: 100px 50px;
}

.story-footer p {
    margin-bottom: 25px;
    text-align: center;
}

.social-links {
    display: flex;
    justify-content: center;
}

.social-icon {
    background-color: #e0e0e0;

    display: block;

    padding: 10px;
    margin: 10px;

    transition-property: background-color;
    transition-duration: 0.15s;
}

.social-icon svg {
    display: block;

    font-size: 24px;

    width: 1em;
    height: 1em;

    transition-property: fill;
    transition-duration: 0.15s;
}

.social-icon:hover {
    background-color: #000;
}

.social-icon:hover svg {
    fill: #fff;
}

.keep-reading {
    background-color: #f4f4f4;
    padding-top: 50px;
}