/*********************** CSS RESET ***********************/
* {
    box-sizing: border-box; /* So HTML will behave */

    margin: 0;
    padding: 0;
}

/*********************** GENERIC ELEMENTS ***********************/
body {
    background-color: #fafafa;

    font-family: Montserrat, Arial, sans-serif;

    line-height: 1.6;

    min-height: 200vh;
}

/*********************** INTRO SCREEN ***********************/
.intro {
    background-image: url(images/leaves.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    width: 100vw; /* vw - Viewport Width */
    width: auto; /* 100vw is causing a small issue */

    height: 100vh; /* vh - Viewport Height */

    display: flex;
}

.intro-container {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    /* properties: X Y Radius Color */

    width: 25%;

    align-self: center;
    text-align: center;

    padding: 20px;
    margin: auto;
}

.intro h1 {
    font-weight: normal;
    text-transform: uppercase;

    letter-spacing: 2px;
    margin-bottom: 20px;
}

.intro p {
    line-height: 2;
}

/*********************** CARDS ***********************/
.card {
    display: block; /* Turns the link into a box */

    color: #000;
    text-decoration: none;
}

.card-image {
    height: 500px;
    overflow: hidden; /* Hides the excess content */
}

.card img {
    display: block;

    width: 100%;
    height: 100%;
    object-fit: cover;

    transition-property: transform;
    /* only transform will animate */
    transition-duration: 1s;
    transition-timing-function: ease-out;
}

.card h2 {
    margin-top: 20px;
    margin-bottom: 50px;

    font-size: 1.2em; /* 1.2x default font size */
}

/*
    Change the image when we hover over the link
*/
.card:hover img {
    transform: scale(1.2);

    transition-duration: 10s;
    transition-timing-function: linear;
}

/*********************** CONTAINER ***********************/
.container {
    max-width: 1280px;

    margin: auto;
}

/*********************** GRID LAYOUT ***********************/
.row {
    display: flex;
    flex-wrap: wrap;

    gap: 50px;
}

.two-columns .card {
    width: calc((100% - 50px) / 2);
}

.three-columns .card {
    width: calc((100% - 100px) / 3);
}

/*********************** MAIN CONTENT ***********************/
.main-content {
    margin-top: 100px;
}

.vertical-title {
    font-size: 0.9em;
    text-transform: uppercase;
    letter-spacing: 2px;

    transform-origin: 0 0; /* rotate from the top left */
    transform: rotate(90deg) translateY(5px);

    position: absolute;
}